// VARIABLES COULEUR

$primary-color:#FF6060;
$color-black: #000000;
$color-white: #FFFFFF;

// VARIABLES DÉGRADÉS

$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%) #FF6060;

// VARIABLES STYLE DE POLICES

$primary-font: 'Montserrat', sans-serif;

// VARIABLES TAILLES DE POLICES

$font-size-48: 3rem;
$font-size-40: 3rem;
$font-size-24: 1.5rem;
$font-size-20: 1.25rem;
$font-size-18: 1.125rem;
$font-size-16: 1rem;
$font-size-12: 0.75rem;

// VARIABLES EPAISSEUR DE POLICES

$font-weight-700: 700;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-300: 300;

// VARIABLES BORDURES

$border-radius-10: 0.63em;
$border-radius-25: 1.56em;

// VARIABLES TAILLES D'ECRANS

$desktop : 1440px;

