/* MIXINS FLEXBOX */
/* MIXINS FONT */
html,
body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 20px;
}
.header_img {
  display: flex;
  width: 145px;
  height: 46px;
}
.header_link {
  display: flex;
  gap: 26px;
}
.header_link > a {
  align-items: flex-start;
  gap: 26px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
.header_link > a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 1440px) {
  .header_link > a {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .header {
    min-width: 728px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    min-width: 1240px;
    margin: 0 auto;
  }
}

html,
body {
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #000000;
  margin-top: 27px;
}
.footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 66px 120px 58px 120px;
}
.footer_content_img {
  display: flex;
  width: 122px;
  height: 39px;
}
.footer_content > p {
  text-align: center;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 0px 10px;
}
@media screen and (min-width: 1440px) {
  .footer_content > p {
    font-size: 1.5rem;
  }
}

html,
body {
  margin: 0;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0px 20px 0px 20px;
  flex: 1;
}

html,
body {
  margin: 0;
}

.HomeBanner, .AboutBanner {
  display: flex;
  flex-direction: column;
  border-radius: 0.63em;
  background-color: #000000;
  position: relative;
  width: 100%;
  height: 111px;
}
.HomeBanner > img, .AboutBanner > img {
  width: 100%;
  height: 100%;
  border-radius: 0.63em;
  object-fit: cover;
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .HomeBanner > img, .AboutBanner > img {
    border-radius: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .HomeBanner > img, .AboutBanner > img {
    border-radius: 25px;
  }
}
.HomeBanner > p, .AboutBanner > p {
  position: absolute;
  width: 225px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 31px 94px 32px 16px;
}
@media screen and (min-width: 768px) {
  .HomeBanner > p, .AboutBanner > p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    font-size: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .HomeBanner > p, .AboutBanner > p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .HomeBanner, .AboutBanner {
    max-width: 728px;
    min-height: 223px;
    border-radius: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .HomeBanner, .AboutBanner {
    margin: 0px 100px;
    min-width: 1240px;
    height: 223px;
    border-radius: 25px;
  }
}

html,
body {
  margin: 0;
}

.card_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 255px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .card_container {
    display: grid;
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: repeat(3, 320px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    align-content: center;
    justify-content: center;
    border-radius: 25px;
    max-width: 728px;
    background-color: #F6F6F6;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 30px 0px;
  }
}
@media screen and (min-width: 1440px) {
  .card_container {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-template-rows: repeat(2, 340px);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    align-content: center;
    justify-content: center;
    border-radius: 25px;
    max-width: 1240px;
    min-height: 829px;
    background-color: #F6F6F6;
    margin-top: 43px;
    margin-bottom: 50px;
    padding: 50px 0px;
  }
}

.card {
  display: flex;
  align-items: end;
  width: 100%;
  height: 255px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .card {
    padding: 0px;
    width: 320px;
    height: 320px;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    width: 340px;
    height: 340px;
  }
}
.card > p {
  position: absolute;
  width: 30%;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: left;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .card > p {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
  }
}
@media screen and (min-width: 1440px) {
  .card > p {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
  }
}
.card > img {
  display: flex;
  align-items: end;
  width: 100%;
  height: 255px;
  border-radius: 0.63em;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .card > img {
    height: 320px;
    border-radius: 0.63em;
  }
}
@media screen and (min-width: 1440px) {
  .card > img {
    height: 340px;
    border-radius: 0.63em;
  }
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 300px;
}

.carousel img {
  width: 300px;
  height: 200px;
  transition: transform 0.5s ease;
}

.CollapseContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  gap: 38px;
}
@media screen and (min-width: 768px) {
  .CollapseContainer {
    max-width: 728px;
  }
}
@media screen and (min-width: 1440px) {
  .CollapseContainer {
    max-width: 1023px;
    padding: 25px 0px;
  }
}
.CollapseContainer .collapse_header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: #FF6060;
  border-radius: 5px;
  cursor: pointer;
}
.CollapseContainer .collapse_header .collapse_title {
  display: flex;
  padding: 10px 20px 10px 15px;
  align-items: center;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}
.CollapseContainer .collapse_header .collapse_arrow {
  transition: transform 0.3s ease;
  margin-right: 20px;
  width: 30px;
  height: 30px;
}
.CollapseContainer .collapse_header .collapse_arrow.open {
  transform: rotate(180deg);
}
@media screen and (min-width: 1440px) {
  .CollapseContainer .collapse_header {
    min-height: 54px;
  }
}
.CollapseContainer .collapse_content {
  overflow: hidden;
  transition: 0.3s ease;
  max-height: 0;
  background-color: #f8f8f8;
  border-radius: 0 0 5px 5px;
}
.CollapseContainer .collapse_content .collapse_text {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 25px;
  padding: 10px;
}

.error404 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
  gap: 113px;
  padding-bottom: 113px;
}
.error404 .error404_title {
  margin-top: 113px;
  margin-bottom: 0;
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 113px;
}
.error404 .error404_subtitle {
  text-align: center;
  width: 260px;
  color: #FF6060;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin: 0px;
}
.error404 .error404_link {
  color: black;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-decoration-line: underline;
}
@media screen and (min-width: 768px) {
  .error404 .error404_title {
    font-size: 144px;
  }
  .error404 .error404_subtitle {
    width: 100%;
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .error404 .error404_title {
    font-size: 288px;
  }
  .error404 .error404_subtitle {
    min-width: 100%;
    font-size: 36px;
  }
}

/*# sourceMappingURL=style.css.map */
