@use '../../scss/utils/mixins' as *;
@use '../../scss/utils/variables' as *;



html,
body {
    margin: 0;
}

.box {
    @include flex-column;
    width: 100%;
    min-height: 100vh;
}

.container {
    @include flex-column;
    align-items: center;
    gap: 20px;
    padding: 0px 20px 0px 20px;
    flex: 1;
}