@use '../../scss/utils/mixins' as *;

.HousingCollapseContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    @include tablet {
        max-width: 728px;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        max-width: 1240px;
        padding: 25px 0px;
        margin: 0 auto;
        gap: 76px;
    }
}

.AboutCollapseContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    @include tablet {
        max-width: 728px;
    }

    @include desktop {
        display: flex;
        flex-direction: column;
        max-width: 1024px;
    }
}

.Collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;

    .collapse_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #FF6060;
        border-radius: 5px;
        cursor: pointer;

        .collapse_title {
            display: flex;
            padding: 10px 20px 10px 15px;
            align-items: center;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.125rem;
            font-weight: 700;
            margin: 0;
        }

        .collapse_arrow {
            transition: transform 0.3s ease;
            margin-right: 20px;
            width: 30px;
            height: 30px;
        }

        .collapse_arrow.open {
            transform: rotate(180deg);
        }

        @include desktop {
            min-height: 54px;
        }
    }

    .collapse_content {
        overflow: hidden;
        transition: 0.3s ease;
        max-height: 0;
        background-color: #f8f8f8;
        border-radius: 0 0 5px 5px;

        .collapse_text {
            font-family: 'Montserrat', sans-serif;
            padding: 10px;

            ul {
                padding: 0 10px;
            }

            li {
                list-style-type: none;
            }

            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}