@use '../../scss/utils/mixins' as *;

html,
body {
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    margin-top: 27px;

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 66px 120px 58px 120px;

        &_img {
            display: flex;
            width: 122px;
            height: 39px;
        }

        &>p {
            text-align: center;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: 500;
            padding: 0px 10px;

            @include desktop {
                font-size: 1.5rem;
            }
        }
    }
}